# Dependencies
node_modules
dist
.next
out
build

# Environment Variables
.env
.env.local
.env.production
.env.*.local

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NestJS build
dist

# NextJS build
.next

# Database
work-plan/sql/temp_*
